<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iwanttrails.com</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

    <!-- ======================== -->
    <!-- NAVBAR -->
    <!-- ======================== -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
        <div class="container">
            <a class="navbar-brand fw-bold" href="#">{{ config.navbar.title }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="#abouts">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" data-bs-toggle="modal"
                            data-bs-target="#galleryModal">Gallery</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" data-bs-toggle="modal"
                            data-bs-target="#videosModal">Videos</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" data-bs-toggle="modal"
                            data-bs-target="#contactModal">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <style>
        .fixed-bg {
            position: fixed;
            inset: 0;
            z-index: -1;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.4s ease;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        /* visible background */
        .fixed-bg.active {
            opacity: 1;
        }

        /* scrolling sections */
        .fixed-section {
            min-height: 100dvh;
            position: relative;
        }

        /* ---------- RESPONSIVE IMAGES ---------- */

        /* mobile-first */
        .responsive-bg {
            background-image: var(--bg-mobile);
        }

        /* md ≥ 768px */
        @media (min-width: 768px) {
            .responsive-bg {
                background-image: var(--bg-desktop);
            }
        }
    </style>

    <!-- Fixed background layers -->
    <div class="fixed-bg active responsive-bg" style="
       --bg-mobile: url('{{ config.home.image_mobile }}');
       --bg-desktop: url('{{ config.home.image }}');
     ">
    </div>
    {% for section in config.sections %}
    <div class="fixed-bg responsive-bg" style="
       --bg-mobile: url('{{ section.image_mobile }}');
       --bg-desktop: url('{{ section.image }}');
     ">
    </div>
    {% endfor %}
    <div class="fixed-bg responsive-bg" style="
       --bg-mobile: url('{{ config.contact.image_mobile }}');
       --bg-desktop: url('{{ config.contact.image }}');
     ">
    </div>


    <!-- ======================== -->
    <!-- HOME SECTION             -->
    <!-- ======================== -->
    <header id="home" class="fixed-section min-vh-100 d-flex align-items-center text-center text-white">
        <div class="container">
            {{ config.home.text|safe }}
        </div>
    </header>


    <!-- ======================== -->
    <!-- YAML SECTIONS          -->
    <!-- ======================== -->
    {% for section in config.sections %}
    <section id="{{ section.href }}" class="fixed-section min-vh-100 d-flex align-items-center text-white">
        <div class="container d-flex justify-content-{{ section.justify_topics }}">
            <div class="frosted-container">
                {% if section.topics|length > 1 %}
                <h1 class="fw-bold mb-4">{{ section.name }}</h1>
                {% for topic in section.topics %}
                <ul class="list-group frosted-list-group mb-3">
                    <li class="list-group-item">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#{{ topic.tag }}Modal">
                            {{ topic.name }}
                        </a>
                    </li>
                </ul>
                {% endfor %}
                {% else %}
                {% for topic in section.topics %}
                <h1><a href="#" data-bs-toggle="modal" data-bs-target="#{{ topic.tag }}Modal">
                        {{ topic.name }}
                </h1></a>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>

    <!-- Modal with carousel -->
    {% for topic in section.topics %}
    <div class="modal fade" id="{{ topic.tag }}Modal" tabindex="-1" aria-labelledby="{{ topic.tag }}Label"
        aria-hidden="true">
        <div class="modal-dialog modal-fullscreen modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="{{ topic.tag }}Label">{{ topic.name }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div id="{{ topic.tag }}Carousel" class="carousel slide mb-3 carousel-fade" data-bs-interval="false">
                        <div class="carousel-inner">
                            {% for image in topic.images %}
                            <div class="carousel-item {% if loop.first %} active {% endif %}">
                                <img src="{{ image.path }}" class="d-block w-100 rounded">
                                {% if image.desc is defined and image.desc|length > 0 %}
                                <div class="carousel-caption-static mt-3 text-center frosted-caption">
                                    <p class="mb-0">{{ image.desc }}</p>
                                </div>
                                {% endif %}
                            </div>
                            {% endfor %}
                            {% for video in topic.videos %}
                            <div class="carousel-item {% if loop.first %} active {% endif %}">
                                <div class="ratio ratio-16x9">
                                    <iframe data-video-id="{{ video.link }}" allow="autoplay; fullscreen"
                                        allowfullscreen></iframe>
                                </div>
                                {% if video.desc is defined and video.desc|length > 0 %}
                                <div class="carousel-caption-static mt-3 text-center frosted-caption">
                                    <p class="mb-0">{{ video.desc }}</p>
                                </div>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#{{ topic.tag }}Carousel"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#{{ topic.tag }}Carousel"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endfor %}

    <!-- ======================== -->
    <!-- CONTACT SECTION          -->
    <!-- ======================== -->
    <section id="contact" class="fixed-section min-vh-100 d-flex align-items-center text-white">
        <div class="container d-flex justify-content-{{ config.contact.justify_topics }}">
            <div class="frosted-container">
                <h1 class="fw-bold mb-4"><a href="#" data-bs-toggle="modal" data-bs-target="#contactModal">Contact</a>
                </h1>
            </div>
        </div>
        </div>
    </section>

    <div class="modal fade" id="contactModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="contactForm">
                    <div class="modal-header">
                        <h5 class="modal-title">Leave a message and I'll get in touch ASAP. Thanks.</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <div class="modal-body">

                        <!-- Success Message -->
                        <div id="successMsg" class="alert alert-success d-none">
                            ✅ Message sent successfully!
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input type="text" name="name" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" name="email" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Phone</label>
                            <input type="phone" name="phone" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Message</label>
                            <textarea name="message" class="form-control" rows="4" required></textarea>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="frosted-btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="frosted-btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        const sections = document.querySelectorAll(".fixed-section");
        const backgrounds = document.querySelectorAll(".fixed-bg");

        const observer = new IntersectionObserver(
            entries => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        const index = [...sections].indexOf(entry.target);

                        backgrounds.forEach(bg => bg.classList.remove("active"));
                        backgrounds[index]?.classList.add("active");
                    }
                });
            },
            { threshold: 0.6 }
        );

        sections.forEach(section => observer.observe(section));

        document.getElementById("contactForm").addEventListener("submit", function (e) {
            e.preventDefault();

            const form = this;
            const successMsg = document.getElementById("successMsg");

            fetch("{{ url_for('contact') }}", {
                method: "POST",
                body: new FormData(form)
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status === "success") {
                        successMsg.classList.remove("d-none");
                        form.reset();
                    }
                })
                .catch(() => {
                    alert("Something went wrong. Please try again.");
                });
        });

        const contactModal = document.getElementById("contactModal");
        const successMsg = document.getElementById("successMsg");
        const contactForm = document.getElementById("contactForm");

        contactModal.addEventListener("show.bs.modal", () => {
            successMsg.classList.add("d-none");
        });

        contactModal.addEventListener("hidden.bs.modal", () => {
            contactForm.reset();
        });

    </script>

    <!-- Footer -->
    <footer class="py-3 bg-black text-white text-center">
        <small>© 2026 Brook Valley Farm LLC. All rights reserved.</small>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/lazy-bootstrap-carousel-v5.js"></script>
    <script>
        document.querySelectorAll('.modal').forEach(modal => {

            modal.addEventListener('shown.bs.modal', () => {
                const iframe = modal.querySelector('.carousel-item.active iframe[data-video-id]')
                if (iframe) {
                    iframe.src = `https://www.youtube.com/embed/${iframe.dataset.videoId}?autoplay=0`
                }
            })

            modal.addEventListener('hidden.bs.modal', () => {
                modal.querySelectorAll('iframe').forEach(iframe => iframe.src = '')
            })

            modal.querySelectorAll('.carousel').forEach(carousel => {

                carousel.addEventListener('slide.bs.carousel', () => {
                    carousel.querySelectorAll('iframe').forEach(iframe => iframe.src = '')
                })

                carousel.addEventListener('slid.bs.carousel', () => {
                    const iframe = carousel.querySelector('.carousel-item.active iframe[data-video-id]')
                    if (iframe) {
                        iframe.src = `https://www.youtube.com/embed/${iframe.dataset.videoId}?autoplay=0`
                    }
                })

            })
        })
    </script>


</body>

</html>